.section {
  background: #f2f2f2;
  padding: 100px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.header h2 {
  font-size: 48px;
  font-weight: 900;
}

.arrows {
  display: flex;
  gap: 20px;
  font-size: 24px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.stars {
  color: #f5a623;
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.nameRow h4 {
  font-size: 18px;
  font-weight: 700;
}

.verified {
  color: #22c55e;
  font-size: 16px;
}

.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}


@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .header h2 {
    font-size: 32px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
